In [29]:
import pandas as pd

In [78]:
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                   'Product':[' UMbreLla', '  maTress', 'BaDmintoN ', 'Shuttle'],
                   'Updated_Price':[1250, 1450, 1550, 400],
                   'Discount':[10, 8, 15, 10]})
df

        Date     Product  Updated_Price  Discount
0  10/2/2011    UMbreLla           1250        10
1  11/2/2011     maTress           1450         8
2  12/2/2011  BaDmintoN            1550        15
3  13/2/2011     Shuttle            400        10

In [80]:
x = df['Product']

In [85]:
import string
a = []
lsts = ['UMbreLla','maTress','BaDmintoN','Shuttle']
for i in lsts:
    result = string.capwords(i)
    a.append(result)
print(a)

['Umbrella', 'Matress', 'Badminton', 'Shuttle']

In [86]:
df['Product'] = a

In [87]:
df

        Date    Product  Updated_Price  Discount
0  10/2/2011   Umbrella           1250        10
1  11/2/2011    Matress           1450         8
2  12/2/2011  Badminton           1550        15
3  13/2/2011    Shuttle            400        10

In [88]:
df

        Date    Product  Updated_Price  Discount
0  10/2/2011   Umbrella           1250        10
1  11/2/2011    Matress           1450         8
2  12/2/2011  Badminton           1550        15
3  13/2/2011    Shuttle            400        10