In [21]:
# Creating a Pandas dataframe using list of tuples

In [10]:
import pandas as pd

In [12]:
data = {'Category':['Array', 'Stack', 'Queue'],
        'Marks':[20, 21, 19],}

df = pd.DataFrame(data, index=['a','b','c'])
df

  Category  Marks
a    Array     20
b    Stack     21
c    Queue     19

In [13]:
df1 = df.transpose()
df1

              a      b      c
Category  Array  Stack  Queue
Marks        20     21     19

In [14]:
import pandas as pd

data = {'category':[1,2,3],'marks':['array','stack','queue']}
df = pd.DataFrame(data, index=['a','b','c'])
df

   category  marks
a         1  array
b         2  stack
c         3  queue

In [15]:
df.transpose()

              a      b      c
category      1      2      3
marks     array  stack  queue

In [18]:
lst = [['cat','dog','mouse'],['name','good','bad']]
df = pd.DataFrame(lst, columns=['a','b','c'])
df

      a     b      c
0   cat   dog  mouse
1  name  good    bad

In [20]:
tup = [('sachin','kumar','good'),('myname','uname','tname'),('awsm','nice','very')]
df = pd.DataFrame(tup, columns=['a','b','c'])
df

        a      b      c
0  sachin  kumar   good
1  myname  uname  tname
2    awsm   nice   very