In [22]:
# Create a Pandas DataFrame from List of Dicts

In [23]:
import pandas as pd

In [24]:
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}] # here we have passed duplicate keys and its worked fine

df = pd.DataFrame(data)
df

       Geeks    For geeks
0  dataframe  using  list
1         10     20    30

In [25]:
df = pd.DataFrame(data, index= ['a','b'])
df

       Geeks    For geeks
a  dataframe  using  list
b         10     20    30

In [28]:
df = pd.DataFrame(data, index= ['a','b'], columns= ['Geeks','For']) # we can allow those columns which we want to,and which
# are already defined
df

       Geeks    For
a  dataframe  using
b         10     20

In [29]:
df = pd.DataFrame(data, index= ['a','b'], columns= ['c','d']) # we can allow those columns which we want to,bt if its not defined
# in the data set, then will end up creating data frame with no data within
df

    c   d
a NaN NaN
b NaN NaN