# Python | Creating DataFrame from dict of narray/lists

In [16]:
# A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
# DataFrame is like a table with rows and columns
#Labeled data is data that comes with a tag, like a name, a type, or a number. Unlabeled data is data that comes with no tag.
import pandas as pd

In [31]:
'''2.1 What is the difference between labelled and unlabelled data?
Actually, what is data?
Let’s first establish a clear definition of what we mean by data. Data is simply information. Any time we have a table with information, we have data. Normally, each row is a data point. Let’s say, for example, that we have a dataset of pets. In this case, each row represents a different pet. Each pet is described then, by certain features.
Ok. And what are features?
Features are simply the columns of the table. In our pet example, the features may be size, name, type, weight, etc. This is what describes our data. Some features are special, though, and we call them labels.
Labels?
This one is a bit less obvious, and it depends on the context of the problem we are trying to solve. Normally, if we are trying to predict a feature based on the others, that feature is the label. If we are trying to predict the type of pet we have (for example cat or dog), based on information on that pet, then that is the label. If we are trying to predict if the pet is sick or healthy based on symptoms and other information, then that is the label. If we are trying to predict the age age of the pet, then the age is the label.
So now we can define two very important things, labeled and unlabeled data.
Labeled data: Data that comes with a label.
    
Unlabeled data: Data that comes without a label.
Labeled data is data that comes with a tag, like a name, a type, or a number. Unlabeled data is data that comes with no tag.'''

'2.1 What is the difference between labelled and unlabelled data?\nActually, what is data?\nLet’s first establish a clear definition of what we mean by data. Data is simply information. Any time we have a table with information, we have data. Normally, each row is a data point. Let’s say, for example, that we have a dataset of pets. In this case, each row represents a different pet. Each pet is described then, by certain features.\nOk. And what are features?\nFeatures are simply the columns of the table. In our pet example, the features may be size, name, type, weight, etc. This is what describes our data. Some features are special, though, and we call them labels.\nLabels?\nThis one is a bit less obvious, and it depends on the context of the problem we are trying to solve. Normally, if we are trying to predict a feature based on the others, that feature is the label. If we are trying to predict the type of pet we have (for example cat or dog), based on information on that pet, then that is the label. If we are trying to predict if the pet is sick or healthy based on symptoms and other information, then that is the label. If we are trying to predict the age age of the pet, then the age is the label.\nSo now we can define two very important things, labeled and unlabeled data.\nLabeled data: Data that comes with a label.\n    \nUnlabeled data: Data that comes without a label.\nLabeled data is data that comes with a tag, like a name, a type, or a number. Unlabeled data is data that comes with no tag.'

In [14]:
dicts = {'sachin':[1,2,3],'kumar':[4,5,6]} # in case of dict the keys are the column names
df = pd.DataFrame(dicts)
df

   sachin  kumar
0       1      4
1       2      5
2       3      6

In [15]:
type(df) # DataFrame is one of the data type in pandas

pandas.core.frame.DataFrame

In [20]:
dicts = {'sachin':[1,2,3],'kumar':[4,5,6]} # in case of dict the keys are the column names
df = pd.DataFrame(dicts, columns=['hero','zero']) # incase of dict if u try to give column names then there wont be any data
#within it
df

Empty DataFrame
Columns: [hero, zero]
Index: []

In [23]:
data = {'Category':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}
df = pd.DataFrame(data)
df

  Category  Student_1  Student_2
0    Array         20         15
1    Stack         21         20
2    Queue         19         14

In [24]:
df.transpose() # transpose will make column as rows

               0      1      2
Category   Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

In [25]:
df.transpose() # if u run the tranpose on the same data result will be same

               0      1      2
Category   Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

In [26]:
# now i can provide my own index names, means i give my own row names
data = {'Area':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}
df = pd.DataFrame(data, index=['cat','dog',1])
df

      Area  Student_1  Student_2
cat  Array         20         15
dog  Stack         21         20
1    Queue         19         14

In [28]:
data = {'Area':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}
df = pd.DataFrame(data, index=['cat','dog']) # here we have 3 set of data by passed indexes are 2 will raise an error
df

ValueError: Shape of passed values is (3, 3), indices imply (2, 3)